<button (click)="changeVisibility()" class="btn btn-info">
  Display Details
</button>

<p *ngIf="visibleParaghraph">
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo in iure culpa
  facilis debitis aut, reprehenderit non eligendi incidunt vel qui expedita
  tempora, eveniet quaerat sit itaque doloremque inventore. Porro?
</p>

<div
  *ngFor="let log of logs; let i = index"
  [ngStyle]="{ backgroundColor: i >= 4 ? 'blue' : 'transparent' }"
  [ngClass]="{ 'white-text': i >= 4 }"
>
  <p>{{ log }}</p>
</div>

<!-- another way putting the logic in ts file, with for loop
Angular 17-->

<!-- @for(log of logs; let i = $index; track logs){

<div [ngStyle]="getLogStyle(i)">
  <p>{{ log }}</p>
</div>
} -->
