<div class="layout" [dir]="'dir' | translate">
  <app-header (featureSelected)="onNavigate($event)"></app-header>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <app-recipes *ngIf="loadedFeature === 'recipe'"></app-recipes>
        <app-shopping-list
          *ngIf="loadedFeature !== 'recipe'"
        ></app-shopping-list>
      </div>
    </div>
    <footer>
      <select name="" id="" (change)="translate($event)">
        <option value="en">English</option>
        <option value="ar">Arabic</option>
      </select>
    </footer>
  </div>
</div>
