<label for="serverName">Server Name</label>

<!-- Two-Way-Databinding -->
<input
  type="text"
  class="form-control mb-3"
  name=""
  id="serverName"
  [(ngModel)]="serverName"
/>

<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()"
>
  Add Server
</button>
<!-- property binding -->
<!-- <p [innerText]="allowNewServer"></p> -->

<p>
  {{ serverCreationStatus }}
</p>

<p>{{ stringInterpolation }}</p>

<app-server></app-server>
<hr />

<input type="text" name="" id="" class="form-control" [(ngModel)]="username"/>

<p class="mt-3">
    {{username}}
</p>

<button class="btn btn-primary" [disabled]="username === '' " (click)="resetUsername()" >Reset username</button>
