<div class="card mb-3">
  <div class="card-header">{{ element.name }}</div>
  <div class="card-body">
    <!-- instead of passing complex logic here, we can pass it to the parent
    app.components.html using ng-conetnt and to make it reusable-->
    <!-- <p>
      <strong *ngIf="element.type === 'server'" style="color: red">{{
        element.content
      }}</strong>
      <em *ngIf="element.type === 'blueprint'">{{ element.content }}</em>
    </p> -->
    <ng-content></ng-content>
  </div>
</div>
